html,
body,
:root {
  height: 100%;
}

.full-screen {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.ma-display-table-cell-content {
  width: initial !important;
}

:global(.ma-display-table-cell-content) {
  width: initial !important;
}

.scroll-container {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.5rem;
  padding-bottom: 2rem;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.login-background {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, #b4a6ff 0%, #c9c2f8 30%, #eae8fc 100%);
}

.image-container {
  width: 100%;

  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: 15vh !important;
  }
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.loading {
  width: 40px;
  height: 40px;
}

.book {
  height: 30px;
  position: relative;
  width: 30px;
  -webkit-perspective: 60px;
  perspective: 60px;
  margin: auto;
}
.book div {
  -webkit-animation: whirl-book 2s infinite;
  animation: whirl-book 2s infinite;
  background: #6a60a9;
  height: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform-origin: left;
  transform-origin: left;
  width: 100%;
}
.book div:nth-child(1) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.book div:nth-child(2) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.book div:nth-child(3) {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}
.book div:nth-child(4) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.book div:nth-child(5) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

@-webkit-keyframes whirl-book {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50%,
  80% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  90%,
  100% {
    opacity: 0;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}
@keyframes whirl-book {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50%,
  80% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  90%,
  100% {
    opacity: 0;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}

.data-table-formatter {
  word-break: normal;
  overflow-wrap: break-word;
  min-width: 130px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
}

.skeleton-box {
  display: inline-block;
  height: 20px;
  width: 100px; 
  background: linear-gradient(90deg, #f0f0f0, #b4a6ff, #f0f0f0);
  background-size: 200% 100%;
  animation: shine 1.5s infinite;
}


@keyframes shine {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
