.header {
  z-index: 4;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
}

.mainColumn {
  margin-left: auto;
  width: calc(100vw - 190px);
  overflow-y: scroll;
  height: 100vh;
}

.sidebarColumn {
  position: fixed;
  width: 185px;
  margin-right: auto;
  background-color: #6a60a9;
  height: 100vh;
}
